* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

h3 {
  text-align: center;
  margin-top: 0;
}

.f-search__filter {
  display: flex;
  justify-content: space-between;
}

.f-search__input {
  width: 100%;
}

.b-output > h4 {
  display: none;
  text-align: center;
}

.b-output._hidden > h4 {
  display: block;
  text-align: center;
}

.l-string {
  height: 200px;
  overflow-y: scroll;
}
